<div class="view-wrapper clearfix">
<!--
    <div class="view-header">
        <h1>Contact Us</h1>
    </div>
    
-->
    <div class="view-container clearfix">
       
        <div id="contactus-wrapper">
            
            <div id="contactus-header">
                <h2>Contact Us</h2>
            </div>

            <div id="contactus-left">
                <h4>Send us a message</h4>
                <form action="./backend/contact/contactus.php" method="post" id="contsctus_form_id">
                   <div class="contactus_form_grup">
                       <span class="contactus_error">Name is required</span>
                       <input type="text" class="contactus_input" name="contactus_name" id="contactus_name" placeholder="Name">
                   </div>
                   <div class="contactus_form_grup">
                       <span class="contactus_error">We need your email to get back to you</span>
                       <input type="email" class="contactus_input" name="contactus_email" id="contactus_email" placeholder="Email">
                   </div>
                   <div class="contactus_form_grup">
                      <span class="contactus_error">We would like to call you</span>
                       <input type="text" class="contactus_input" name="contactus_number" id="contactus_number" placeholder="Contact Number">
                   </div>
                   <div class="contactus_form_grup">
                      <span class="contactus_error">Enter your message</span>
                       <textarea name="contactus_mgs" id="contactus_mgs" placeholder="How can we help you ?"></textarea>
                   </div>
                   <div class="contactus_form_grup">
                       <input type="submit" id="contact_us_submit" value="Send">
                   </div>
                </form>
            </div>

            <div id="contactus-right">
                <div id="contactus_call">
                    <h4>Give us a call</h4>
                    <p>
                        <i class="fa fa-phone-square"></i>
                        <a href="tel:+233505007604">+233505007604</a>
                    </p>
                    <p>
                        <i class="fa fa-phone-square"></i>
                        <a href="tel:+233303969806">+233303969806</a>
                    </p>
                    <p>
                        <i class="fa fa-phone-square"></i>
                        <a href="tel:+233208554494">+233208554494</a>
                    </p>
                    
                    <h4>Send Us An email</h4>
                    <p>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:info@crownhouseshop.com">info@crownhouseshop.com</a>
                    </p>
                    
                    <h4>Locate Us</h4>
                    <p>
                        <i class="fa fa-map-marker"></i>
                        <span>Achimota Estate, Accra Ghana</span>
                    </p>
                </div>
                
            </div>
            
        </div>
        
        
        
    </div>
</div>