<nav>
        <p id="pul"><i class="fa fa-bars"></i></p>
        <p id="search-pillDown"><i class="fa fa-search"></i></p>
        <div class="search-cart clearfix">
            <div class="company-logo">
                <a href="#/">Crownhouse</a>
            </div>
            <div id="searchSites" class="search-site">
                <form action="">
                    <div class="search-wrap">
                        <span><i class="fa fa-search"></i></span>
                        <input type="text" placeholder="Search Products">
                    </div>
                </form>
            </div>
            <div class="cart-container">
                <a href="#/cart">
                    <div class="sumry">
                        <ngcart-summary template-url="ngCart/summary.html"></ngcart-summary>
                    </div>
                </a>
            </div>
        </div>
        <div class="nav-container">
            <div class="site-navigation">
                <ul>
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/shop-departments">Shop Departments</a></li>
                    <li><a href="#/cart">Cart</a></li>
                    <li><a href="#/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>